nav {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    li {
      display: flex;
      flex-direction: column;
      padding-top: 10rem;
      padding-bottom: 11rem;
      justify-content: center;
      font-size: 1.6rem;
      text-align: center;
      width: 22rem;
      margin-top: 5rem;
      list-style-type: none;
      box-shadow: 5px 5px 10px lightgrey;
    }

    li:nth-child(1) {
      background-color: $background-enchantee;
      & a {
        color: $colour-enchantee;
      }
    }
    li:nth-child(2) {
      background-color: $background-chic;
      & a {
        color: $colour-chic;
      }
    }

    li:nth-child(3) {
      background-color: $background-delice;
      & a {
        color: $colour-delice;
      }
    }
    li:nth-child(4) {
      background-color: $background-palette;
      & a {
        color: $colour-palette;
      }
    }

    .page-enchantee {
      & h2 {
        margin-top: 0px;
      }
    }
  }
}

.prochainement {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  padding-top: 1rem;
  width: 20rem;
  justify-content: center;
  border: 1px solid black;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: $colour-primary;
  color: $colour-secondary;
}
