nav {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    li {
      display: flex;
      flex-direction: column;
      padding-top: 10rem;
      padding-bottom: 11rem;
      justify-content: center;
      font-size: 1.6rem;
      text-align: center;
      width: 40%;
      margin-top: 5rem;
      list-style-type: none;
      box-shadow: 5px 5px 10px lightgrey;
      transition: 0.5s;
      &:hover {
        box-shadow: 5px 10px 15px lightgrey;
        opacity: 0.85;
      }
    }
    li.page-enchantee {
      @include titre-menu($font-enchantee, 2.7rem);
      & a {
        font-family: $font-palette;
      }
      @media (max-width: 1024px) {
        h2,
        a {
          font-size: 2rem;
        }
      }
    }

    li.page-chic {
      @include titre-menu($font-chic, 2rem);

      @media (max-width: 1024px) {
        min-width: 80vw;
        h2,
        a {
          font-size: 1.5rem;
        }
      }
    }

    li.page-delice {
      @include titre-menu($font-delice, 2.5rem);
      @media (max-width: 1024px) {
        h2,
        a {
          font-size: 1.9rem;
        }
      }
    }
    li.page-palette {
      @include titre-menu($font-palette, 2.3rem);
      @media (max-width: 1024px) {
        h2,
        a {
          font-size: 1.9rem;
        }
      }
    }

    li:nth-child(1) {
      background-color: $background-enchantee;
      & a {
        color: $colour-enchantee;
      }
    }
    li:nth-child(2) {
      background-color: $background-chic;
      & a {
        color: $colour-chic;
      }
    }

    li:nth-child(3) {
      background-color: $background-delice;
      & a {
        color: $colour-delice;
      }
    }
    li:nth-child(4) {
      background-color: $background-palette;
      & a {
        color: $colour-palette;
      }
    }

    .page-enchantee {
      & h2 {
        margin-top: 0px;
      }
    }
  }
}

.prochainement {
  display: flex;
  flex-direction: column;
  line-height: 1.2rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  padding-top: 1.5rem;
  width: 20rem;
  justify-content: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: $colour-primary;
  color: $colour-secondary;

  & h3 {
    margin-bottom: 20px;
  }

  .lds-ellipsis {
    display: inline-block;
    position: relative;
    left: 39%;
    height: 30px;
  }
  .lds-ellipsis div {
    position: absolute;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: $colour-secondary;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }
}
