* {
  margin-block-start: 0px;
}

body {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
body h1 {
  padding-bottom: 20px;
}

nav,
section {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2px;
  padding-top: 20px;
  padding-right: 30px;
  padding-left: 30px;
  margin-bottom: 150px;
}

section {
  box-shadow: 5px 5px 20px 5px #f0f0f0;
}

a,
a:visited {
  text-decoration: none;
}

footer a,
footer a:visited {
  color: #fdcb46;
  padding-right: 50px;
}

h3 :not(.prochainement) {
  margin-top: 50px;
}

h2:last-child {
  margin-top: 70px;
}

.carte-1 :not(h2),
.carte-2 :not(h2),
.carte-3 :not(h2),
.carte-4 :not(h2) {
  line-height: 3.5rem;
}

.prix {
  padding-right: 100px;
}

.intitules {
  padding-left: 70px;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  font-weight: 100;
  line-height: 1.7;
}
body h1 {
  color: #fdcb46;
  text-align: center;
  font-size: 5.5rem;
  font-weight: bolder;
}
body footer {
  font-weight: 100;
  font-size: 1.5rem;
}
body .prochainement {
  font-size: 1.5rem;
}
body h2 {
  font-size: 3rem;
}
body .nom-menu {
  font-size: 5.3rem;
}
body h3 {
  font-size: 2rem;
}
body li {
  font-size: 1.2rem;
}

.carte-1 h2:last-child,
.carte-2 h2:last-child,
.carte-3 h2:last-child,
.carte-4 h2:last-child {
  font-size: 2.8rem;
}

@media (max-width: 1024px) {
  * {
    margin-left: 0px;
    margin-top: 0px;
  }

  body {
    justify-content: center;
    text-align: center;
    width: 100%;
  }
  body img {
    width: 50px;
    height: 50px;
  }
  body h1 {
    font-size: 3.5rem;
  }
  body h2 {
    font-size: 2rem;
  }
  body h2:last-child {
    font-size: 2rem;
  }
  body h3 :not.prochainement {
    font-size: 1.7rem;
    padding-bottom: 5px;
    margin-bottom: 60px;
  }
  body .carte-1 h3 {
    border-bottom: #3c1218 solid;
  }
  body .carte-2 h3 {
    font-size: 1.6rem;
    border-bottom: #c77412 solid;
  }
  body .carte-2 .titre-papilles {
    border-bottom: #a56799 solid;
  }
  body .carte-2 .titre-sucre {
    border-bottom: #6e4ccc solid;
  }
  body .carte-3 h2 {
    font-size: 3rem;
  }
  body .carte-3 h3 {
    border-bottom: #54a8f9 solid;
  }
  body .carte-4 h2 {
    font-size: 3rem;
  }
  body .carte-4 h3 {
    border-bottom: #72bf56 solid;
  }
  body ul {
    display: flex;
    flex-direction: column;
    padding-inline-start: 0px;
    margin-left: auto;
    margin-right: auto;
  }
  body header {
    min-height: 25%;
  }
  body .sommaire {
    max-width: 100%;
  }
  body li {
    justify-content: center;
    max-width: 100%;
  }
  body .page-enchantee,
body .page-chic,
body .page-delice,
body .page-palette {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  body .page-enchantee h2,
body .page-chic h2,
body .page-delice h2,
body .page-palette h2 {
    margin-top: 10px;
  }
  body .page-enchantee {
    margin-top: 0px;
  }
  body section {
    margin-left: 20px;
    margin-right: 20px;
  }
  body .intitules,
body .prix {
    text-align: center;
  }
  body .line-enchantee,
body .line-chic,
body .line-delice,
body .line-palette {
    display: none;
  }
  body .prix {
    padding-right: 0px;
    margin-bottom: 20px;
  }
  body .intitules {
    padding-left: 0px;
  }
  body footer {
    padding-right: 0rem;
    font-size: 1rem;
  }
  body .note-musique {
    position: relative;
    left: 1%;
  }
  body .prochainement {
    width: 12rem;
  }
  body .prochainement h3 {
    font-size: 1rem;
  }
  body .prochainement .lds-ellipsis {
    position: relative;
    left: 31%;
  }

  nav ul li {
    min-width: 100%;
  }
}
header {
  background: #579c87;
  max-height: 25%;
  padding-top: 1rem;
  align-items: center;
  margin-bottom: 20px;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
nav ul li {
  display: flex;
  flex-direction: column;
  padding-top: 10rem;
  padding-bottom: 11rem;
  justify-content: center;
  font-size: 1.6rem;
  text-align: center;
  width: 40%;
  margin-top: 5rem;
  list-style-type: none;
  box-shadow: 5px 5px 10px lightgrey;
  transition: 0.5s;
}
nav ul li:hover {
  box-shadow: 5px 10px 15px lightgrey;
  opacity: 0.85;
}
nav ul li.page-enchantee a,
nav ul li.page-enchantee h2 {
  font-family: "Zhi Mang Xing", cursive;
  font-size: 2.7rem;
}
nav ul li.page-enchantee a:hover {
  transform: scale(1.2);
  transition: ease-in-out 1.8s;
}
nav ul li.page-enchantee a {
  font-family: "Kaushan Script", cursive;
}
@media (max-width: 1024px) {
  nav ul li.page-enchantee h2,
nav ul li.page-enchantee a {
    font-size: 2rem;
  }
}
nav ul li.page-chic a,
nav ul li.page-chic h2 {
  font-family: "Amita", cursive;
  font-size: 2rem;
}
nav ul li.page-chic a:hover {
  transform: scale(1.2);
  transition: ease-in-out 1.8s;
}
@media (max-width: 1024px) {
  nav ul li.page-chic {
    min-width: 80vw;
  }
  nav ul li.page-chic h2,
nav ul li.page-chic a {
    font-size: 1.5rem;
  }
}
nav ul li.page-delice a,
nav ul li.page-delice h2 {
  font-family: "Dancing Script", cursive;
  font-size: 2.5rem;
}
nav ul li.page-delice a:hover {
  transform: scale(1.2);
  transition: ease-in-out 1.8s;
}
@media (max-width: 1024px) {
  nav ul li.page-delice h2,
nav ul li.page-delice a {
    font-size: 1.9rem;
  }
}
nav ul li.page-palette a,
nav ul li.page-palette h2 {
  font-family: "Kaushan Script", cursive;
  font-size: 2.3rem;
}
nav ul li.page-palette a:hover {
  transform: scale(1.2);
  transition: ease-in-out 1.8s;
}
@media (max-width: 1024px) {
  nav ul li.page-palette h2,
nav ul li.page-palette a {
    font-size: 1.9rem;
  }
}
nav ul li:nth-child(1) {
  background-color: #fcdfdb;
}
nav ul li:nth-child(1) a {
  color: #3c1218;
}
nav ul li:nth-child(2) {
  background-color: #fff5fe;
}
nav ul li:nth-child(2) a {
  color: #c77412;
}
nav ul li:nth-child(3) {
  background-color: #f9f9f9;
}
nav ul li:nth-child(3) a {
  color: #54a8f9;
}
nav ul li:nth-child(4) {
  background-color: #fdfffd;
}
nav ul li:nth-child(4) a {
  color: #72bf56;
}
nav ul .page-enchantee h2 {
  margin-top: 0px;
}

.prochainement {
  display: flex;
  flex-direction: column;
  line-height: 1.2rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  padding-top: 1.5rem;
  width: 20rem;
  justify-content: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #579c87;
  color: #fdcb46;
}
.prochainement .lds-ellipsis {
  display: inline-block;
  position: relative;
  left: 39%;
  height: 40px;
}
.prochainement .lds-ellipsis div {
  position: absolute;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fdcb46;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.prochainement .lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.prochainement .lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.prochainement .lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.prochainement .lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

footer {
  display: flex;
  justify-content: space-between;
  color: #fdcb46;
  background-color: #579c87;
  margin-top: 3rem;
  padding-top: 2rem;
  padding-left: 2rem;
  padding-bottom: 2rem;
  position: fixed;
  bottom: 0px;
  width: 100vw;
}
footer a:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

h2,
h3 {
  text-align: center;
}

.note-musique {
  position: relative;
  left: 44%;
  margin-top: 20px;
  width: 100px;
  height: 100px;
}

.prelude,
.orgue,
.final {
  list-style-type: none;
}

section.carte-1 {
  background-color: #fcdfdb;
  font-family: "Kalam", cursive;
  color: #3c1218;
}
section.carte-1 h2 {
  font-family: "Zhi Mang Xing", cursive;
}

ul.prelude,
ul.orgue {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

section.carte-1 h3 span {
  position: relative;
}
section.carte-1 h3 span:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #3c1218;
  transform-origin: bottom right;
  transition: transform 0.55s ease-out;
}
section.carte-1 h3 span:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
section.carte-2 h3 span {
  position: relative;
}
section.carte-2 .titre-appetit span:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #c77412;
  transform-origin: bottom right;
  transition: transform 0.55s ease-out;
}
section.carte-2 .titre-papilles span:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #a56799;
  transform-origin: bottom right;
  transition: transform 0.55s ease-out;
}
section.carte-2 .titre-sucre span:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #6e4ccc;
  transform-origin: bottom right;
  transition: transform 0.55s ease-out;
}
section.carte-2 h3 span:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
section.carte-3 h3 span {
  position: relative;
}
section.carte-3 h3 span:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #54a8f9;
  transform-origin: bottom right;
  transition: transform 0.55s ease-out;
}
section.carte-3 h3 span:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
section.carte-4 h3 span {
  position: relative;
}
section.carte-4 h3 span:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #72bf56;
  transform-origin: bottom right;
  transition: transform 0.55s ease-out;
}
section.carte-4 h3 span:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.line-enchantee {
  padding-left: 50px;
  padding-right: 50px;
}

.appetit,
.papilles,
.sucre {
  list-style-type: none;
}

li.page-chic h2,
.carte-2 h2 {
  background: linear-gradient(to right, #c77412, #905bfd);
  min-height: 70px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

section.carte-2 {
  background-color: #fff5fe;
  font-family: "Amita", cursive;
  color: #c77412;
}
section.carte-2 h2 {
  margin-top: 20px;
  padding-top: 10px;
  font-family: "Amita", cursive;
}

ul.appetit,
ul.papilles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

ul.sucre {
  padding-bottom: 100px;
}

.papilles,
.titre-papilles {
  color: #a56799;
}

.sucre,
.titre-sucre {
  color: #6e4ccc;
}

li.intitules {
  min-width: 70%;
}

section.carte-1 h3 span {
  position: relative;
}
section.carte-1 h3 span:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #3c1218;
  transform-origin: bottom right;
  transition: transform 0.55s ease-out;
}
section.carte-1 h3 span:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
section.carte-2 h3 span {
  position: relative;
}
section.carte-2 .titre-appetit span:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #c77412;
  transform-origin: bottom right;
  transition: transform 0.55s ease-out;
}
section.carte-2 .titre-papilles span:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #a56799;
  transform-origin: bottom right;
  transition: transform 0.55s ease-out;
}
section.carte-2 .titre-sucre span:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #6e4ccc;
  transform-origin: bottom right;
  transition: transform 0.55s ease-out;
}
section.carte-2 h3 span:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
section.carte-3 h3 span {
  position: relative;
}
section.carte-3 h3 span:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #54a8f9;
  transform-origin: bottom right;
  transition: transform 0.55s ease-out;
}
section.carte-3 h3 span:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
section.carte-4 h3 span {
  position: relative;
}
section.carte-4 h3 span:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #72bf56;
  transform-origin: bottom right;
  transition: transform 0.55s ease-out;
}
section.carte-4 h3 span:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.line-chic {
  padding-right: 15px;
  padding-left: 15px;
}

.commencer,
.continuer,
.terminer {
  list-style-type: none;
}

li.page-delice h2, .carte-3 h2 {
  background: linear-gradient(to right, #0431df, #54a8f9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
li.page-delice h2 .carte-3, .carte-3 h2 .carte-3 {
  min-height: 120px;
}

section.carte-3 {
  background-color: #f9f9f9;
  font-family: "Dancing Script", cursive;
}
section.carte-3 h2 {
  margin-top: 30px;
  font-family: "Dancing Script", cursive;
}

ul.commencer,
ul.continuer,
ul.terminer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

li.intitules {
  min-width: 70%;
}

ul.terminer {
  padding-bottom: 150px;
}

section.carte-1 h3 span {
  position: relative;
}
section.carte-1 h3 span:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #3c1218;
  transform-origin: bottom right;
  transition: transform 0.55s ease-out;
}
section.carte-1 h3 span:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
section.carte-2 h3 span {
  position: relative;
}
section.carte-2 .titre-appetit span:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #c77412;
  transform-origin: bottom right;
  transition: transform 0.55s ease-out;
}
section.carte-2 .titre-papilles span:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #a56799;
  transform-origin: bottom right;
  transition: transform 0.55s ease-out;
}
section.carte-2 .titre-sucre span:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #6e4ccc;
  transform-origin: bottom right;
  transition: transform 0.55s ease-out;
}
section.carte-2 h3 span:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
section.carte-3 h3 span {
  position: relative;
}
section.carte-3 h3 span:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #54a8f9;
  transform-origin: bottom right;
  transition: transform 0.55s ease-out;
}
section.carte-3 h3 span:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
section.carte-4 h3 span {
  position: relative;
}
section.carte-4 h3 span:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #72bf56;
  transform-origin: bottom right;
  transition: transform 0.55s ease-out;
}
section.carte-4 h3 span:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.line-delice {
  padding-right: 30px;
  padding-left: 30px;
}

.esquisse,
.maitre,
.art {
  list-style-type: none;
}

li.page-palette h2, .carte-4 h2 {
  background: linear-gradient(to right, #72bf56, #b7f97b);
  min-height: 70px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

section.carte-4 {
  background-color: #fdfffd;
  font-family: "Dancing Script", cursive;
}
section.carte-4 h2 {
  margin-top: 20px;
  font-family: "Kaushan Script", cursive;
}

ul.esquisse,
ul.maitre,
ul.art {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

li.intitules {
  min-width: 70%;
}

ul.art {
  padding-bottom: 150px;
}

section.carte-1 h3 span {
  position: relative;
}
section.carte-1 h3 span:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #3c1218;
  transform-origin: bottom right;
  transition: transform 0.55s ease-out;
}
section.carte-1 h3 span:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
section.carte-2 h3 span {
  position: relative;
}
section.carte-2 .titre-appetit span:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #c77412;
  transform-origin: bottom right;
  transition: transform 0.55s ease-out;
}
section.carte-2 .titre-papilles span:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #a56799;
  transform-origin: bottom right;
  transition: transform 0.55s ease-out;
}
section.carte-2 .titre-sucre span:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #6e4ccc;
  transform-origin: bottom right;
  transition: transform 0.55s ease-out;
}
section.carte-2 h3 span:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
section.carte-3 h3 span {
  position: relative;
}
section.carte-3 h3 span:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #54a8f9;
  transform-origin: bottom right;
  transition: transform 0.55s ease-out;
}
section.carte-3 h3 span:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
section.carte-4 h3 span {
  position: relative;
}
section.carte-4 h3 span:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #72bf56;
  transform-origin: bottom right;
  transition: transform 0.55s ease-out;
}
section.carte-4 h3 span:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.line-palette {
  padding-left: 50px;
  padding-right: 50px;
}

/*# sourceMappingURL=style.css.map */
