* {
  margin-left: 0px;
  margin-top: 0px;
}
body {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  & h1 {
    padding-bottom: 20px;
  }
}

nav,
section {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2px;
  padding-top: 20px;
  padding-right: 30px;
  padding-left: 30px;
  margin-bottom: 150px;
}

section {
  box-shadow: 5px 5px 20px 5px rgb(240, 240, 240);
}

a,
a:visited {
  text-decoration: none;
}

footer {
  @include footer;
}

h3 :not(.prochainement) {
    margin-top: 50px;
  }


h2:last-child {
  margin-top: 70px;
}

.carte-1,
.carte-2,
.carte-3,
.carte-4 {
  & :not(h2) {
    line-height: 3.5rem;
  }
}

.prix {
  padding-right: 100px;
}

.intitules {
  padding-left: 70px;
}
