body,
h1,
footer,
.prochainement {
  font-family: $font-base;

  & body {
    font-size: 2rem;
    font-weight: 100;
    line-height: 1.7;
  }

  & h1 {
    color: $colour-secondary;
    text-align: center;
    font-size: 5.5rem;
    font-weight: bold;
  }

  & footer {
    font-weight: 100;
    font-size: 1rem;
  }

  & .prochainement {
      font-size: 1.5rem;
  }
}

ul {
  li.page-enchantee {
    font-family: $font-enchantee;
    font-size: 1.9rem;
  }
  li.page-chic {
    font-family: $font-chic;
    font-size: 1.3rem;
  }
  li.page-delice {
    font-family: $font-delice;
    font-size: 1.7rem;
  }
  li.page-palette {
    font-family: $font-palette;
    font-size: 1.7rem;
  }
}
