body {
  font-family: $font-base;
  font-size: 2rem;
  font-weight: 100;
  line-height: 1.7;

  & h1 {
    color: $colour-secondary;
    text-align: center;
    font-size: 5.5rem;
    font-weight: bold;
  }

  & footer {
    font-weight: 100;
    font-size: 1.5rem;
  }

  & .prochainement {
    font-size: 1.5rem;
  }

  & h2 {
    font-size: 3.5rem;
  }

  & h3 {
    font-size: 2rem;
  }

  & li {
    font-size: 1.2rem;
  }
}

ul {
  li.page-enchantee {
    & a {
      font-family: $font-enchantee;
      font-size: 1.9rem;
    }
  }
  li.page-chic {
    & a {
      font-family: $font-chic;
      font-size: 1.3rem;
    }
  }
  li.page-delice {
    font-family: $font-delice;
    font-size: 1.7rem;
  }
  li.page-palette {
    font-family: $font-palette;
    font-size: 1.7rem;
  }
}

h2:last-child {
  font-size: 2.8rem;
}
