body {
  font-family: $font-base;
  font-size: 2rem;
  font-weight: 100;
  line-height: 1.7;

  & h1 {
    color: $colour-secondary;
    text-align: center;
    font-size: 5.5rem;
    font-weight: bold;
  }

  & footer {
    font-weight: 100;
    font-size: 1.5rem;
  }

  & .prochainement {
    font-size: 1.5rem;
  }

  & h2 {
    font-size: 3.5rem;
  }

  & h3 {
    font-size: 2rem;
  }

  & li {
    font-size: 1.2rem;
  }
}

ul {
  li.page-enchantee {
    @include titre-menu($font-enchantee, 2.7rem);
    & a {
      font-family: $font-palette;
    }
  }

  li.page-chic {
    @include titre-menu($font-chic, 2.3rem);
  }

  li.page-delice {
    @include titre-menu($font-delice, 2.3rem);
  }
  li.page-palette {
    @include titre-menu($font-palette, 2.3rem);
  }
}

h2:last-child {
  font-size: 2.8rem;
}
