.commencer,
.continuer,
.terminer {
  list-style-type: none;
}

li.page-delice, .carte-3 {
  h2 {
    background: linear-gradient(to right, #0431df, $colour-delice);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    & .carte-3 {
      min-height: 120px;
    }
  }
}

section {
  &.carte-3 {
    background-color: $background-delice;
    font-family: $font-delice;
    & h2 {
      margin-top: 30px;
      font-family: $font-delice;
    }
  }
}

ul.commencer,
ul.continuer,
ul.terminer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

li.intitules {
  min-width: 70%;
}

ul.terminer {
  padding-bottom: 150px;
}

@include underline-section-delice;

.line-delice {
  padding-right: 30px;
  padding-left: 30px;
}