.appetit,
.papilles,
.sucre {
  list-style-type: none;
}

li.page-chic {
  h2 {
    background: linear-gradient(to left, #905bfd, $colour-chic);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

section {
  &.carte-2 {
    background-color: $background-chic;
    font-family: $font-enchantee-carte;
    color: $colour-chic;
    &h2 {
      font-family: $font-chic;
    }
  }
}

ul.appetit,
ul.papilles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

li.intitules {
  min-width: 70%;
}

@include underline-section-chic;


.line-chic {
  padding-right: 50px;
  padding-left: 50px;
}