.commencer,
.continuer,
.terminer {
  list-style-type: none;
}

section {
  &.carte-3 {
    background-color: $background-delice;
    font-family: $font-enchantee-carte;
    color: $colour-delice;
    & h2 {
      font-family: $font-delice;
    }
  }
}

ul.commencer,
ul.continuer,
ul.terminer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

li.intitules {
  min-width: 70%;
}
