.esquisse,
.maitre,
.art {
  list-style-type: none;
}

li.page-palette, .carte-4 {
  h2 {
    background: linear-gradient(to right, $colour-palette,#b7f97b);
    min-height: 70px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

section {
  &.carte-4 {
    background-color: $background-palette;
    font-family: $font-delice;
    & h2 {
      margin-top: 20px;
      font-family: $font-palette;
    }
  }
}

ul.esquisse,
ul.maitre,
ul.art {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

li.intitules {
  min-width: 70%;
}

ul.art {
  padding-bottom: 150px;
}

@include underline-section-palette;

.line-palette {
  padding-left: 50px;
  padding-right: 50px;
}
