.appetit,
.papilles,
.sucre {
  list-style-type: none;
}

li.page-chic,
.carte-2 {
  h2 {
    background: linear-gradient(to right, $colour-chic, #905bfd);
    min-height: 70px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

section {
  &.carte-2 {
    background-color: $background-chic;
    font-family: $font-chic;
    color: $colour-chic;
    & h2 {
      margin-top: 20px;
      padding-top: 10px;
      font-family: $font-chic;
    }
  }
}

ul.appetit,
ul.papilles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

ul.sucre {
  padding-bottom: 100px;
}

.papilles,
.titre-papilles {
  color: $colour-chic-papilles;
}

.sucre,
.titre-sucre {
  color: $colour-chic-sucre;
}

li.intitules {
  min-width: 70%;
}

@include underline-section;

.line-chic {
  padding-right: 15px;
  padding-left: 15px;
}
