$colour-primary: #579c87;
$colour-secondary: #fdcb46;
$colour-accent: #D6FFF5;
$colour-white: #fff;
$colour-invalid: #DB464B;
$colour-enchantee: #3c1218;
$background-enchantee: #fcdfdb;
$colour-chic: #c77412;
$background-chic: #fff5fe;
$colour-delice: #54a8f9;
$background-delice: #f9f9f9;
$colour-palette: #72bf56;
$background-palette: #fdfffd;

$font-base: 'Inter', sans-serif;
$font-enchantee: 'Zhi Mang Xing', cursive;
$font-enchantee-carte: 'Kalam', cursive;
$font-chic: 'Amita', cursive;
$font-delice: 'Dancing Script', cursive;
$font-palette: 'Kaushan Script', cursive;
